@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'header/header';
@import 'hero/hero';
@import 'offer/offer';
@import 'footer/footer';
@import 'popular/popular';
@import 'popular/popular-v2';

body {
  /* @apply bg-gray-100; */
  background-color: #f7f7f7;
}
.container {
  @media (min-width: 1204px) {
    max-width: 952px;
  }
  
  @media (min-width: 1536px) {
    max-width: 1392px;
  }

}
