@import "swiper-btn";
@import "swiper-navigation";
@import "bg-container";

.hero-container {
  margin-top: calc(72px + 0.5em);

  @media (min-width: 1024px) {
    margin-top: calc(96px + 0.5em);
  }
}

.slider-img {
  max-height: 360px;
  height: 360px;

  @media (min-width: 640px) {
    height: 200px;
  }
  
  @media (min-width: 720px) {
    height: 250px;
  }

  @media (min-width: 1024px) {
    height: 360px;
  }
}

.hero-container {
  .swiper-slide {
    transition: opacity 1s;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.25;
    filter: grayscale(1);
  }
}