@import 'dropdown';
@import 'search-form';

.header {
  height: 72px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1050;
  box-shadow: rgba(0 0 0/5%) 0 0 1em;
  background-color: $dark;

  @media (min-width: 1024px) {
    height: 96px;
  }
}

.header-inner {
  transition: max-width 0.3s;
}

.header-no-max-w {
  max-width: 100%;
  transition: 0.3s;
}

.logo {
  content: '';
  background: url('https://www.seagm.com/skin/images/seagm_logo_2020_text_white-2c37d6f16e.svg')
    no-repeat center/contain;
  width: 85px;
  height: 32px;
  filter: brightness(30%);
}
