.search-form {
  min-width: 200px;
  background-color: #343b3c;
  border-color: #343b3c;
  /* box-shadow: 0 0 .5em #bfdbfe, inset 0 0 9999em #bfdbfe; */
  /* box-shadow: 0 0 40px #007bff inset; */
  border-width: 1.5px;
  

  @media (min-width: 1024px) {
    min-width: 300px;
  }

  &.focus {
    color: white;
    border-color: #0ea5e9;
    box-shadow: 0 0 .5em rgba(14, 165, 233, 0.8),inset 0 0 45px rgba(14, 165, 233, 0.3);

    input {
      color: white;
    }
  }
}