.popular-section {
  position: relative;

  > h3 {
    background-color: #f7f7f7;
  }

  &::before {
    content: '';
    position: absolute;
    @apply bg-gray-300;
    width: 100%;
    height: 0.5px;
  }
}

.popular-item {
  border-top-left-radius: 24px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  min-height: 190px !important;
  max-width: 233px;

  > img {
    height: 234px;
    border-top-left-radius: 24px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

#popular-list {
  .swiper-slide {
    max-width: 233px;
    min-width: 233px;

    /* @media (min-width: 7) */
  }
}

.popular-list-wrapper {
  /* display: flex; */
  @media (min-width: 1024px) {
    @apply grid;
    @apply grid-cols-4;
    @apply gap-4;
  }

  @media (min-width: 1280px) {
    @apply grid;
    @apply grid-cols-5;
    @apply gap-4;
  }

  @media (min-width: 1536px) {
    @apply grid;
    @apply grid-cols-6;
    @apply gap-4;
  }
}
